Kaggle/PredictCalorieExpenditure/sample_submission.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5.zip
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/sample_submission.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/test.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/train.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting.zip
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/holidays_events.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/oil.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/sample_submission.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/stores.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/test.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/transactions.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/train.csv
