Kaggle/PredictCalorieExpenditure/sample_submission.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5.zip
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/sample_submission.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/test.csv
Kaggle/PredictCalorieExpenditure/playground-series-s5e5/train.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting.zip
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/holidays_events.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/oil.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/sample_submission.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/stores.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/test.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/transactions.csv
Kaggle/StoreSalesForecast/store-sales-time-series-forecasting/train.csv
Kaggle/PredictCalorieExpenditure/submission_2.csv
Kaggle/PredictCalorieExpenditure/submission_2.csv
Kaggle/PredictCalorieExpenditure/submission_3.csv
Kaggle/PredictCalorieExpenditure/submission_4.csv
Kaggle/PredictCalorieExpenditure/submission_5.csv
Kaggle/PredictCalorieExpenditure/xgbv1_submission_1.csv
Kaggle/PredictCalorieExpenditure/xgbv1_submission_2.csv
Kaggle/PredictCalorieExpenditure/xbgv2_submission_1.csv
Kaggle/PredictingOptimalFertilizers_s5e6/xgbclassv1_submission.csv
Kaggle/PredictingOptimalFertilizers_s5e6/xgbclassv1_submission_2.csv
Kaggle/PredictingOptimalFertilizers_s5e6/WeightedEnsemble_L3_PSEUDO_oof_pred_probs_0.346245.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/WeightedEnsemble_L3_PSEUDO_test_pred_probs_0.346245.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/__pycache__/custom_metric.cpython-311.pyc
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_BAG_L1_oof_pred_probs_0.334683.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_BAG_L1_PSEUDO_oof_pred_probs_0.344178.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_BAG_L2_oof_pred_probs_0.337797.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_BAG_L2_PSEUDO_oof_pred_probs_0.345676.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_r96_BAG_L2_oof_pred_probs_0.337398.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_r96_BAG_L2_PSEUDO_oof_pred_probs_0.345843.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_r131_BAG_L2_oof_pred_probs_0.337861.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBM_r131_BAG_L2_PSEUDO_oof_pred_probs_0.345725.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMLarge_BAG_L1_oof_pred_probs_0.301879.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMLarge_BAG_L2_oof_pred_probs_0.337258.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMLarge_BAG_L2_PSEUDO_oof_pred_probs_0.345053.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMXT_BAG_L1_oof_pred_probs_0.327176.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMXT_BAG_L1_PSEUDO_oof_pred_probs_0.334100.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMXT_BAG_L2_oof_pred_probs_0.337870.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/LightGBMXT_BAG_L2_PSEUDO_oof_pred_probs_0.345913.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_BAG_L1_oof_pred_probs_0.294220.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_BAG_L1_PSEUDO_oof_pred_probs_0.295865.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_BAG_L2_oof_pred_probs_0.334761.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_BAG_L2_PSEUDO_oof_pred_probs_0.342606.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_r191_BAG_L2_oof_pred_probs_0.333553.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetFastAI_r191_BAG_L2_PSEUDO_oof_pred_probs_0.340897.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_BAG_L1_oof_pred_probs_0.292215.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_BAG_L1_PSEUDO_oof_pred_probs_0.289396.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_BAG_L2_oof_pred_probs_0.336372.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_BAG_L2_PSEUDO_oof_pred_probs_0.343924.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_r22_BAG_L2_PSEUDO_oof_pred_probs_0.341217.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_r79_BAG_L2_oof_pred_probs_0.335921.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/NeuralNetTorch_r79_BAG_L2_PSEUDO_oof_pred_probs_0.343855.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/WeightedEnsemble_L2_oof_pred_probs_0.338268.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/WeightedEnsemble_L2_PSEUDO_oof_pred_probs_0.346011.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/WeightedEnsemble_L3_oof_pred_probs_0.338383.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/XGBoost_BAG_L1_oof_pred_probs_0.335298.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/XGBoost_BAG_L1_PSEUDO_oof_pred_probs_0.330952.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/XGBoost_BAG_L2_oof_pred_probs_0.337648.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/XGBoost_BAG_L2_PSEUDO_oof_pred_probs_0.345489.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs/XGBoost_r33_BAG_L2_PSEUDO_oof_pred_probs_0.328206.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_BAG_L1_PSEUDO_test_pred_probs_0.344178.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_BAG_L1_test_pred_probs_0.334683.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_BAG_L2_PSEUDO_test_pred_probs_0.345676.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_BAG_L2_test_pred_probs_0.337797.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_r96_BAG_L2_PSEUDO_test_pred_probs_0.345843.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_r96_BAG_L2_test_pred_probs_0.337398.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_r131_BAG_L2_PSEUDO_test_pred_probs_0.345725.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBM_r131_BAG_L2_test_pred_probs_0.337861.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMLarge_BAG_L1_test_pred_probs_0.301879.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMLarge_BAG_L2_PSEUDO_test_pred_probs_0.345053.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMLarge_BAG_L2_test_pred_probs_0.337258.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMXT_BAG_L1_PSEUDO_test_pred_probs_0.334100.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMXT_BAG_L1_test_pred_probs_0.327176.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMXT_BAG_L2_PSEUDO_test_pred_probs_0.345913.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/LightGBMXT_BAG_L2_test_pred_probs_0.337870.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_BAG_L1_PSEUDO_test_pred_probs_0.295865.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_BAG_L1_test_pred_probs_0.294220.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_BAG_L2_PSEUDO_test_pred_probs_0.342606.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_BAG_L2_test_pred_probs_0.334761.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_r191_BAG_L2_PSEUDO_test_pred_probs_0.340897.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetFastAI_r191_BAG_L2_test_pred_probs_0.333553.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_BAG_L1_PSEUDO_test_pred_probs_0.289396.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_BAG_L1_test_pred_probs_0.292215.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_BAG_L2_PSEUDO_test_pred_probs_0.343924.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_BAG_L2_test_pred_probs_0.336372.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_r22_BAG_L2_PSEUDO_test_pred_probs_0.341217.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_r79_BAG_L2_PSEUDO_test_pred_probs_0.343855.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/NeuralNetTorch_r79_BAG_L2_test_pred_probs_0.335921.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/WeightedEnsemble_L2_PSEUDO_test_pred_probs_0.346011.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/WeightedEnsemble_L2_test_pred_probs_0.338268.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/WeightedEnsemble_L3_test_pred_probs_0.338383.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/XGBoost_BAG_L1_PSEUDO_test_pred_probs_0.330952.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/XGBoost_BAG_L1_test_pred_probs_0.335298.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/XGBoost_BAG_L2_PSEUDO_test_pred_probs_0.345489.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/XGBoost_BAG_L2_test_pred_probs_0.337648.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs/XGBoost_r33_BAG_L2_PSEUDO_test_pred_probs_0.328206.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/sub_logistic-regression_0.365925.csv
K a g g l e / P r e d i c t i n g O p t i m a l F e r t i l i z e r s _ s 5 e 6 / * . p k l 
 
 
Kaggle/PredictingOptimalFertilizers_s5e6/oof_pred_probs.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_pred_probs.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/TabTransform_submission_1.csv
Kaggle/PredictingOptimalFertilizers_s5e6/tabtransformer_preds.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/test_preds_full.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/oof_preds_full.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/backup_test_preds.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/backup_oof_preds.pkl
Kaggle/PredictingOptimalFertilizers_s5e6/Ensemble_0.367321_1.csv
Kaggle/PredictingOptimalFertilizers_s5e6/misc.ipynb
Kaggle/PredictingOptimalFertilizers_s5e6/submissions/Weighted_Ensemble_Optuna_MAP3_0.367639.csv
Kaggle/PredictingOptimalFertilizers_s5e6/submissions/WeightedEnsemble_MAP3_0.367639.csv
